#rectangle {
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    position: absolute;
    border-radius: 20px;
    border: none;
    background-color:#5d93bd;
}

#intro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5d93bd;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9%;
    height: 7%;
    border-radius: 30px;
    background-color: #5d93bd;
    border: none;
    font-size: 2.5vw; /* Change the font size to 3vw */
    font-family: 'Comic Neue', cursive;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

body {
    background-color: #1f1f2b; /* Change the background color */
}

@media (max-width: 600px) {
    #rectangle {
        border-radius: 10px;
    }
}

@media (min-width: 1200px) {
    #rectangle {
        border-radius: 30px;
    }
}

#Home {
    top: .7%;
    left: 50%;
    width: 3.5%;
    height: 5.5%;
    position: absolute;
    border-radius: 50px; /* rounded edges */
    border: none;
    background-color:#1f1f2b;
}

#Home img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: auto;
  }

  #Home {
    transition: transform 0.2s; /* add transition effect */
  }
  
  #Home:hover {
    transform: scale(1.1); /* scale up the button on hover */
  }
  
  #Home img {
    transition: transform 0.2s; /* add transition effect */
  }
  
  #Home:hover img {
    transform: scale(1.1); /* scale up the image on hover */
  }

  #Home:hover {
    background-color:#34344d;
}