#intro {
    position: absolute;
    top:35%;
    left:50%
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9%;
    height: 7%;
    border-radius: 30px;
    background-color: #5d93bd;
    border: none;
    font-size: 2.5vw; /* Change the font size to 3vw */
    font-family: 'Comic Neue', cursive;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

body {
    background-color: #1f1f2b; /* Change the background color */
}